.container-fluid_top {
    background: url("../img/fiji.jpg");
    opacity: 0.7;
    height: 300px;    
}

.row {
    text-align:center;
    opacity: 1;
    color: white; 
}

.row1 {
    text-align: center;
    opacity: 1;
    color: black; 
}

.navbar sticky-top navbar-expand-lg navbar-light bg-light {
    background-color: #adadad;
    
}




