


nav {
  float: left;
  width: 30%;
font-size: 25px;
  background: lightgrey;
  padding: 150px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;


}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: grey;
  
  text-align: center;
  color: black;
  
}
